.banner {
  background-color: #00f; /* Banner ka background color */
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  position: relative; /* Ensures the button stays inside the banner */
  margin-bottom: 20px; /* Space between banner and other elements */
  z-index: 1; /* Makes sure banner stays below the button */
  font-family: 'Trebuchet MS';
}
#main-content {
  margin-top: 50px; /* Gives space for the fixed banner */
}

/* Footer Style */
footer {
  text-align: center;
  padding: 10px;
}

.footer-social-icons {
  display:flex;
  justify-content:flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.footer-social-icons i{
  color: grey;
  margin: 1px;
}
.footer-social-icons img {
  width: 20px; /* Icon size */
  height: 20px;
}
.footer-social-icons span {
  font-size: 18px; /* Text size */
  font-weight: bold;
}
#aboutme{
  /* font-family:'Times New Roman'; */
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}
#AboutMe {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 60%;
  background-color: lightblue;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#Frontend {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}
header, section {
  text-align: center;
  padding: 20px;
}
/* #achievements {
  background-color: #eef;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
}
#achievements h2 {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
} */
.nav a{
  gap: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  /* display: flex; */
  align-items: center;
  /* font-size: 20px; */
  
}
nav a:hover {
  background-color: #575757; 
}